<#ftl encoding="UTF-8">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<#--
 #%L
 example
 %%
 Copyright (C) 2018 Tetsuwan Technology
 %%
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
 #L%
-->
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;UTF-8" />
  </head>
  <body>
	<p>Hello<#if subject.givenName??> ${subject.givenName}</#if><#if subject.familyName??> ${subject.familyName}</#if>,</p>
	<#include path>
  </body>
</html>
