/*-
 * #%L
 * example
 * %%
 * Copyright (C) 2018 Tetsuwan Technology
 * %%
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *      http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * #L%
 */
@CHARSET "UTF-8";

html {
    position: relative;
    min-height: 100%;
}

/* overloaded bootstrap */
.navbar {
    margin-bottom: 0px;
    padding: 0px;
    border-radius: 5px 5px 0px 0px;
    line-height: 1;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 1em;
}

.navbar-nav > .active > a {
    background-color: #555555;
}

.navbar-nav > .active > a:hover {
    background-color: transparent;
}

.breadcrumb {
    background-color: #f5f5f5;
    padding: 2px 2px;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 15px;
}

.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 5px 5px 5px;
    padding: 10px;
}

.tab-content {
    margin-bottom: 10px;
}

#main [data-id] .card-body {
    min-height: 65px;
}

#main .card-body {
    min-height: 148px;
}

mark, .mark {
    padding: 0px;
    background-color: #ffff00;
}

/* example custom */
textarea {
    min-height: 240px;
}

footer {
    background-color: #ffcccc;
    font-size: 10px;
}

// http://www.ajaxload.info/
#throbber {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/throbber.gif") no-repeat center center;
    cursor: wait;
    opacity: 0.5;
    background-color: white;
    z-index: 999;
    border-radius: 5px;
}

